@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700");
@font-face {
  font-family: 'codeBold';
  src: url("../fonts/code_bold-webfont.woff2") format("woff2"), url("../fonts/code_bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

* {
  padding: 0;
  margin: 0; }

html, body {
  width: 100%; }

.container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  max-width: 1366px;
  width: 100%;
  margin: 0 auto; }

.block-container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  z-index: 1; }
  .block-container .block {
    position: relative;
    font-size: 100%;
    border-radius: 4px;
    background: #F5F5F5; }
    .block-container .block:hover::before {
      bottom: -20px;
      width: 85%; }
    .block-container .block::before {
      content: "";
      display: block;
      width: 80%;
      height: 10px;
      opacity: 0.8;
      background-color: black;
      position: absolute;
      left: 0;
      right: 0;
      top: 100%;
      margin: auto;
      z-index: 0;
      -webkit-filter: blur(15px);
              filter: blur(15px);
      -webkit-transition: all 0.3s ease-out;
      transition: all 0.3s ease-out; }

.block.square::after {
  content: "";
  display: block;
  padding-top: 100%; }

.block.square .block-content {
  position: absolute;
  border-radius: 4px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer; }
  .block.square .block-content h3, .block.square .block-content p {
    color: #F5F5F5;
    font-family: "codeBold", sans-serif;
    font-size: 3em;
    letter-spacing: 2.09px; }
  .block.square .block-content .percentage {
    width: 100%;
    height: 70px;
    position: absolute;
    bottom: 0;
    left: 0; }
    @media screen and (max-width: 450px) {
      .block.square .block-content .percentage {
        display: none; } }
  .block.square .block-content p {
    font-weight: bold;
    color: rgba(0, 0, 0, 0.2);
    padding: 0 10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
  .block.square .block-content .bar {
    display: block;
    height: 10px;
    background-color: rgba(0, 0, 0, 0.2); }

.block.square .notif-content {
  overflow: hidden;
  max-height: 0;
  margin: 0;
  padding: 0 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out; }
  .block.square .notif-content p {
    color: #fff;
    font-family: 'Open-sans', sans-serif;
    font-size: 1.4em;
    line-height: inherit;
    font-weight: normal;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    text-align: justify;
    letter-spacing: 1.25px;
    font-weight: normal; }
    .block.square .notif-content p.status {
      font-weight: bold;
      margin-bottom: 10px; }
      .block.square .notif-content p.status span {
        font-weight: normal;
        text-decoration: underline; }

.block.square:hover .anim, .block.square.active .anim {
  width: 80px;
  -webkit-transition: all 0.3s ease-out 0.1s;
  transition: all 0.3s ease-out 0.1s; }

.block.square:hover .notif-content, .block.square.active .notif-content {
  opacity: 1;
  visibility: visible;
  max-height: 150px;
  margin: 15px 0 15px 0;
  -webkit-transition: all 0.3s ease-out 0.1s;
  transition: all 0.3s ease-out 0.1s; }

.w100 {
  width: 100%; }

.w66 {
  width: 66.666666%; }

.w50 {
  width: 50%; }

.w33 {
  width: 33.3333%; }

.w25 {
  width: 25%;
  font-size: 70%; }

.w20 {
  width: 20%;
  font-size: 70%; }

@media screen and (max-width: 1024px) {
  .wd100 {
    width: 100%; } }

@media screen and (max-width: 1024px) {
  .wd66 {
    width: 66.666666%; } }

@media screen and (max-width: 1024px) {
  .wd50 {
    width: 50%; } }

@media screen and (max-width: 1024px) {
  .wd33 {
    width: 33.333333%; } }

@media screen and (max-width: 1024px) {
  .wd25 {
    width: 25%; } }

@media screen and (max-width: 1024px) {
  .wd20 {
    width: 20%; } }

@media screen and (max-width: 768px) {
  .wt100 {
    width: 100%; } }

@media screen and (max-width: 768px) {
  .wt66 {
    width: 66.666666%; } }

@media screen and (max-width: 768px) {
  .wt50 {
    width: 50%; } }

@media screen and (max-width: 768px) {
  .wt33 {
    width: 33.333333%; } }

@media screen and (max-width: 768px) {
  .wt25 {
    width: 25%; } }

@media screen and (max-width: 768px) {
  .wt20 {
    width: 20%; } }

@media screen and (max-width: 450px) {
  .wm100 {
    width: 100%; } }

@media screen and (max-width: 450px) {
  .wm66 {
    width: 66.666666%; } }

@media screen and (max-width: 450px) {
  .wm50 {
    width: 50%; } }

@media screen and (max-width: 450px) {
  .wm33 {
    width: 33.333333%; } }

@media screen and (max-width: 450px) {
  .wm25 {
    width: 25%; } }

@media screen and (max-width: 450px) {
  .wm20 {
    width: 20%; } }

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .flex.wrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .flex.nowrap {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap; }
  .flex.dirCol {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .flex.dirRow {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row; }
  .flex.aiT {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .flex.aiC {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .flex.aiB {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end; }
  .flex.jcT {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
  .flex.jcC {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .flex.jcB {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
  .flex.jcSA {
    -ms-flex-pack: distribute;
        justify-content: space-around; }
  .flex.jcSB {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }

.gradient.blue {
  background: -webkit-gradient(linear, left top, right bottom, from(#15B2FF), to(#087BFF));
  background: -webkit-linear-gradient(top left, #15B2FF 0%, #087BFF 100%);
  background: linear-gradient(to bottom right, #15B2FF 0%, #087BFF 100%); }
  .gradient.blue::before {
    background-color: #087BFF; }

.gradient.yellow {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#FFF100), to(#F7991C));
  background-image: -webkit-linear-gradient(top left, #FFF100 0%, #F7991C 100%);
  background-image: linear-gradient(to bottom right, #FFF100 0%, #F7991C 100%); }
  .gradient.yellow::before {
    background-color: #FFF100; }

.gradient.red {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#F3035A), to(#ED0038));
  background-image: -webkit-linear-gradient(top left, #F3035A 0%, #ED0038 100%);
  background-image: linear-gradient(to bottom right, #F3035A 0%, #ED0038 100%); }
  .gradient.red::before {
    background-color: #F3035A; }

.anim {
  display: block;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out; }
  .anim.large {
    width: 150px; }
    @media screen and (max-width: 1024px) {
      .anim.large {
        width: 100px; } }
    @media screen and (max-width: 768px) {
      .anim.large {
        width: 120px; } }
    @media screen and (max-width: 450px) {
      .anim.large {
        width: 200px; } }
  .anim.small {
    width: 80px; }

* {
  padding: 0;
  margin: 0; }

.clear {
  clear: both; }

.bloc_left {
  float: left; }

.bloc_right {
  float: right; }

.bloc_size {
  max-width: 1366px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px; }

html, body {
  background-color: #F5F5F5;
  font-size: 100%;
  font-family: "Open Sans", sans-serif; }

.popin {
  display: none; }

.btn-purple {
  border-radius: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 7px 13px;
  background-color: #7A08FA;
  color: #fff;
  cursor: pointer; }
  .btn-purple:hover {
    background-color: #ae6afb; }

header {
  -webkit-box-shadow: 0 0 10px #333;
  box-shadow: 0 0 10px #333;
  background: #fff; }
  header #logo {
    float: left; }
    header #logo img {
      max-height: 30px;
      height: auto; }
  header #settings {
    margin-top: 5px; }

#form_connexion {
  width: 300px;
  margin: 10px auto; }
  #form_connexion h1 {
    text-align: center; }
  @media screen and (max-width: 768px) {
    #form_connexion {
      width: 100%; } }
  #form_connexion form {
    margin-top: 30px; }
    #form_connexion form input {
      border: none;
      font-family: "Open Sans", sans-serif; }
    #form_connexion form input[type='text'], #form_connexion form input[type='password'] {
      width: 100%;
      padding: 10px;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      background-color: #fff;
      outline: none;
      border: 1px solid #e4e1e1;
      border-radius: 3px;
      -webkit-box-shadow: 0px 5px 16px 0px #d4d4d4;
      box-shadow: 0px 5px 16px 0px #d4d4d4;
      position: relative; }
      #form_connexion form input[type='text']:focus, #form_connexion form input[type='password']:focus {
        border: none;
        background-color: #fff; }
      #form_connexion form input[type='text']:-webkit-autofill, #form_connexion form input[type='password']:-webkit-autofill {
        color: #575757; }
    #form_connexion form p {
      margin-bottom: 10px; }
      #form_connexion form p#space {
        margin-top: 20px; }
      @media screen and (max-width: 768px) {
        #form_connexion form p {
          margin-top: 40px; } }
    #form_connexion form label {
      margin-bottom: 4px;
      display: block; }

/*# sourceMappingURL=../css/master.css.map */
