* {
  padding: 0;
  margin: 0; }

.content {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px; }

.block {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  position: relative;
  padding: 10px;
  font-size: 100%; }
  .block::before {
    content: "";
    display: block;
    width: 80%;
    height: 50%;
    opacity: 0.59;
    background-color: black;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -10px;
    margin: auto;
    z-index: -1;
    -webkit-filter: blur(20px);
            filter: blur(20px); }
  .block.square::after {
    content: "";
    display: block;
    padding-top: 100%; }
  .block.square .block-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
    .block.square .block-content img {
      width: 150px;
      margin-bottom: 30px; }
    .block.square .block-content h3, .block.square .block-content p {
      color: white;
      font-family: "Code-Bold", sans-serif;
      font-size: 3em;
      letter-spacing: 2.09px; }
    .block.square .block-content .percentage {
      width: 100%;
      height: 70px;
      position: absolute;
      bottom: 0;
      left: 0; }
      .block.square .block-content .percentage p {
        font-weight: bold;
        color: rgba(0, 0, 0, 0.2);
        line-height: 50px;
        padding: 0 10px;
        -webkit-box-sizing: border-box;
                box-sizing: border-box; }
      .block.square .block-content .percentage .bar {
        display: block;
        height: 20px;
        background-color: rgba(0, 0, 0, 0.2); }

.w100 {
  width: 100%; }

.w66 {
  width: 66.666666%; }

.w50 {
  width: 50%; }

.w33 {
  width: 33.3333%; }

.w25 {
  width: 25%; }

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .flex.wrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .flex.nowrap {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap; }
  .flex.dirCol {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .flex.dirRow {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row; }
  .flex.aiT {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .flex.aiC {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .flex.aiB {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end; }
  .flex.jcT {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
  .flex.jcC {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .flex.jcB {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
  .flex.jcSA {
    -ms-flex-pack: distribute;
        justify-content: space-around; }
  .flex.jcSB {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }

.gradient.blue {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#15B2FF), to(#087BFF));
  background-image: -webkit-linear-gradient(top left, #15B2FF 0%, #087BFF 100%);
  background-image: linear-gradient(to bottom right, #15B2FF 0%, #087BFF 100%); }
  .gradient.blue::before {
    background-color: #087BFF; }

* {
  padding: 0;
  margin: 0; }

.clear {
  clear: both; }

.bloc_left {
  float: left; }

.bloc_right {
  float: right; }

header {
  -webkit-box-shadow: 0 0 5px #333;
  box-shadow: 0 0 5px #333; }
  header #logo {
    float: left; }
    header #logo img {
      max-width: 100px;
      height: auto; }
  header #settings {
    margin-top: 13px; }

/*# sourceMappingURL=../css/master.css.map */
