@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700");
@font-face {
  font-family: 'codeBold';
  src: url("../fonts/code_bold-webfont.woff2") format("woff2"), url("../fonts/code_bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

* {
  padding: 0;
  margin: 0; }

html, body {
  width: 100%; }

.container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  max-width: 1366px;
  width: 100%;
  margin: 0 auto; }

.block-container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  z-index: 1; }

.block {
  position: relative;
  font-size: 100%;
  border-radius: 4px;
  background: #fff; }
  .block:hover::before {
    bottom: -10px;
    width: 85%;
    -webkit-filter: blur(14px);
            filter: blur(14px); }
  .block::before {
    content: "";
    display: block;
    width: 80%;
    height: 10px;
    opacity: 0.3;
    background-color: #3D3D3D;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: -1;
    -webkit-filter: blur(10px);
            filter: blur(10px);
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out; }
  .block h3, .block p {
    font-size: 2em; }
  .block h3 {
    color: #3D3D3D;
    font-family: "codeBold", sans-serif;
    font-size: 1.3em;
    letter-spacing: 2.09px;
    -webkit-transition: all 0.6s ease-out 0.2s;
    transition: all 0.6s ease-out 0.2s; }
    .block h3 span {
      font-weight: normal;
      letter-spacing: inherit;
      font-size: 0.8em;
      display: block;
      color: #575757; }
  .block p, .block span {
    font-family: "Open Sans", sans-serif; }
  .block .block-content {
    padding: 10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
  .block .percentage {
    width: 100%;
    height: 70px;
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 1;
    -webkit-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out; }
    @media screen and (max-width: 450px) {
      .block .percentage {
        display: none; } }
    .block .percentage p {
      font-weight: bold;
      color: rgba(0, 0, 0, 0.2);
      padding: 0 10px;
      -webkit-box-sizing: border-box;
              box-sizing: border-box; }
    .block .percentage .bar {
      display: block;
      height: 10px;
      background-color: rgba(0, 0, 0, 0.2);
      border-bottom-left-radius: 4px; }

.bar-color {
  display: block;
  width: 100%;
  height: 3px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px; }
  .bar-color.red {
    background-color: #F3035A; }
  .bar-color.blue {
    background-color: #087BFF; }
  .bar-color.yellow {
    background-color: #FFF100; }
  .bar-color.purple {
    background-color: #7A08FA; }
  .bar-color.grey {
    background-color: #3D3D3D; }

.block.graphic .block-title {
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom: 2px solid #F5F5F5; }
  .block.graphic .block-title h3 {
    font-size: 1.3em; }
    .block.graphic .block-title h3 span {
      color: #575757; }

.block.line {
  font-size: 85%; }
  .block.line .block-content {
    padding: 5px; }
  .block.line .anim {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 5px; }
  .block.line h3 {
    padding-left: 10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    position: relative;
    z-index: 2;
    font-size: 1.5em; }
  .block.line .percentage p {
    position: absolute;
    right: 0;
    top: 0;
    line-height: 65px;
    font-size: 2.4em; }

@media screen and (max-width: 768px) {
  .block.square {
    font-size: 70%; } }

@media screen and (max-width: 1024px) {
  .block.square {
    font-size: 90%; } }

.block.square::after {
  content: "";
  display: block;
  padding-top: 100%; }

.block.square .block-content {
  position: absolute;
  border-radius: 4px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer; }

.block.square .notif-content {
  overflow: hidden;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  position: absolute;
  max-height: inherit;
  opacity: 0;
  visibility: hidden;
  padding: 0 10px;
  -webkit-transition: opacity 0.3s ease-out, visibility 0.1s ease 0.3s;
  transition: opacity 0.3s ease-out, visibility 0.1s ease 0.3s; }
  @media screen and (min-width: 1024px) {
    .block.square .notif-content {
      position: relative;
      max-height: 0;
      opacity: 1;
      visibility: visible;
      padding: 0 30px;
      -webkit-transition: all 0.7s ease-out;
      transition: all 0.7s ease-out; } }
  .block.square .notif-content p {
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-size: 1.6em;
    line-height: inherit;
    font-weight: normal;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    text-align: justify;
    letter-spacing: 1.25px;
    font-weight: normal; }
    @media screen and (min-width: 1024px) {
      .block.square .notif-content p {
        font-size: 1.4em; } }
    @media screen and (min-width: 768px) {
      .block.square .notif-content p {
        font-size: 1.6em; } }
    .block.square .notif-content p.status {
      font-weight: bold;
      margin-bottom: 10px; }
      .block.square .notif-content p.status span {
        font-weight: normal;
        text-decoration: underline; }

@media screen and (min-width: 768px) {
  .block.square:hover .anim, .block.square.active .anim {
    width: 80px;
    -webkit-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out; }
  .block.square:hover h3, .block.square.active h3 {
    -webkit-transform: scale(0.8);
        -ms-transform: scale(0.8);
            transform: scale(0.8);
    -webkit-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out; }
  .block.square:hover .notif-content, .block.square.active .notif-content {
    opacity: 1;
    visibility: visible;
    max-height: 150px;
    margin: 15px 0 15px 0;
    -webkit-transition: all 0.7s ease 0.2s;
    transition: all 0.7s ease 0.2s; }
  .block.square:hover .percentage, .block.square.active .percentage {
    opacity: 0; } }

@media screen and (max-width: 768px) {
  .block.square:hover .anim, .block.square:hover h3, .block.square.active .anim, .block.square.active h3 {
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease; }
  .block.square:hover .notif-content, .block.square.active .notif-content {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.4s ease 0.2s, visibility 0.1s ease 0.1s;
    transition: opacity 0.4s ease 0.2s, visibility 0.1s ease 0.1s; }
  .block.square:hover .percentage, .block.square.active .percentage {
    opacity: 0; } }

.w100 {
  width: 100%; }

.w75, #objectifs .catObjectif ul.list div.intitule {
  width: 75%; }

.w66 {
  width: 66.666666%; }

.w50 {
  width: 50%; }

.w33 {
  width: 33.3333%; }

.w25, #objectifs .catObjectif ul.list div.done {
  width: 25%;
  font-size: 70%; }

.w20 {
  width: 20%;
  font-size: 70%; }

.w0 {
  width: 0%;
  font-size: 70%; }

@media screen and (max-width: 1024px) {
  .wd100 {
    width: 100%; } }

@media screen and (max-width: 1024px) {
  .wd75 {
    width: 75%; } }

@media screen and (max-width: 1024px) {
  .wd66 {
    width: 66.666666%; } }

@media screen and (max-width: 1024px) {
  .wd50 {
    width: 50%; } }

@media screen and (max-width: 1024px) {
  .wd33 {
    width: 33.333333%; } }

@media screen and (max-width: 1024px) {
  .wd25 {
    width: 25%; } }

@media screen and (max-width: 1024px) {
  .wd20 {
    width: 20%; } }

@media screen and (max-width: 768px) {
  .wt100 {
    width: 100%; } }

@media screen and (max-width: 768px) {
  .wt75 {
    width: 75%; } }

@media screen and (max-width: 768px) {
  .wt66 {
    width: 66.666666%; } }

@media screen and (max-width: 768px) {
  .wt50 {
    width: 50%; } }

@media screen and (max-width: 768px) {
  .wt33 {
    width: 33.333333%; } }

@media screen and (max-width: 768px) {
  .wt25 {
    width: 25%; } }

@media screen and (max-width: 768px) {
  .wt20 {
    width: 20%; } }

@media screen and (max-width: 450px) {
  .wm100 {
    width: 100%; } }

@media screen and (max-width: 450px) {
  .wm75 {
    width: 75%; } }

@media screen and (max-width: 450px) {
  .wm66 {
    width: 66.666666%; } }

@media screen and (max-width: 450px) {
  .wm50 {
    width: 50%; } }

@media screen and (max-width: 450px) {
  .wm33 {
    width: 33.333333%; } }

@media screen and (max-width: 450px) {
  .wm25 {
    width: 25%; } }

@media screen and (max-width: 450px) {
  .wm20 {
    width: 20%; } }

.flex, .block .block-content, .column, .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .flex.wrap, .block .block-content, .column, .row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .flex.nowrap, .block .nowrap.block-content, .nowrap.column, .nowrap.row {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap; }
  .flex.dirCol, .block .dirCol.block-content, .block.square .block-content, .block .block-content.column, .column, .dirCol.row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .flex.dirRow, .block .block-content, .dirRow.column, .row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row; }
  .flex.aiT, .block .aiT.block-content, .block .block-content.row, .aiT.column, .row {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .flex.aiC, .block .block-content, .block.square .block-content, .column, .aiC.row {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .flex.aiB, .block .aiB.block-content, .aiB.column, .aiB.row {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end; }
  .flex.jcT, .block .block-content, .column, .row {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
  .flex.jcC, .block .jcC.block-content, .block.square .block-content, .jcC.column, .jcC.row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .flex.jcB, .block .jcB.block-content, .jcB.column, .jcB.row {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
  .flex.jcSA, .block .jcSA.block-content, .jcSA.column, .jcSA.row {
    -ms-flex-pack: distribute;
        justify-content: space-around; }
  .flex.jcSB, .block .jcSB.block-content, .jcSB.column, .jcSB.row {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }

.gradient.blue {
  background: -webkit-gradient(linear, left top, right bottom, from(#15B2FF), to(#087BFF));
  background: -webkit-linear-gradient(top left, #15B2FF 0%, #087BFF 100%);
  background: linear-gradient(to bottom right, #15B2FF 0%, #087BFF 100%); }
  .gradient.blue::before {
    background-color: #087BFF;
    opacity: 0.8; }

.gradient.yellow {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#FFF100), to(#F7991C));
  background-image: -webkit-linear-gradient(top left, #FFF100 0%, #F7991C 100%);
  background-image: linear-gradient(to bottom right, #FFF100 0%, #F7991C 100%); }
  .gradient.yellow::before {
    background-color: #FFF100;
    opacity: 0.8; }

.gradient.red {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#F3035A), to(#ED0038));
  background-image: -webkit-linear-gradient(top left, #F3035A 0%, #ED0038 100%);
  background-image: linear-gradient(to bottom right, #F3035A 0%, #ED0038 100%); }
  .gradient.red::before {
    background-color: #F3035A;
    opacity: 0.8; }

.gradient h3, .gradient p {
  font-family: "codeBold", sans-serif;
  color: #F5F5F5;
  font-size: 2em;
  -webkit-transition: all 0.6s ease-out 0.2s;
  transition: all 0.6s ease-out 0.2s; }

.anim {
  display: block;
  -webkit-transition: all 0.4s ease-out 0.2s;
  transition: all 0.4s ease-out 0.2s; }
  .anim.large {
    width: 150px; }
    @media screen and (max-width: 1024px) {
      .anim.large {
        width: 100px; } }
    @media screen and (max-width: 768px) {
      .anim.large {
        width: 90px;
        margin-bottom: 5px; } }
    @media screen and (max-width: 450px) {
      .anim.large {
        width: 200px; } }
  .anim.small {
    width: 60px; }

.title {
  margin: 10px 0;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-bottom: 2px solid gainsboro; }
  .title h1 {
    color: #3D3D3D;
    font-family: "Open Sans", sans-serif;
    font-size: 3em;
    text-transform: uppercase;
    letter-spacing: 2.09px; }
    .title h1 span {
      display: block;
      color: #575757;
      font-size: 0.3em;
      font-weight: normal;
      text-transform: inherit;
      letter-spacing: normal;
      font-style: italic;
      position: relative;
      top: 10px; }
  .title p {
    font-family: "Open Sans", sans-serif;
    color: #575757;
    font-size: 0.9em;
    text-align: justify; }

.btn {
  padding: 5px 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  font-size: 0.8em;
  letter-spacing: 1.6px;
  border: 0px;
  border-radius: 50px;
  line-height: 35px;
  cursor: pointer; }
  .btn img {
    width: 27px;
    padding-right: 10px; }
  .btn.purple {
    background-color: #7A08FA;
    -webkit-box-shadow: 0 7px 6px -3px rgba(122, 8, 250, 0.3);
            box-shadow: 0 7px 6px -3px rgba(122, 8, 250, 0.3); }
  .btn.yellow {
    background-color: #FFF100;
    -webkit-box-shadow: 0 7px 6px -3px rgba(255, 241, 0, 0.3);
            box-shadow: 0 7px 6px -3px rgba(255, 241, 0, 0.3); }
  .btn.blue {
    background-color: #087BFF;
    -webkit-box-shadow: 0 7px 6px -3px rgba(8, 123, 255, 0.3);
            box-shadow: 0 7px 6px -3px rgba(8, 123, 255, 0.3); }
  .btn.red {
    background-color: #F3035A;
    -webkit-box-shadow: 0 7px 6px -3px rgba(243, 3, 90, 0.3);
            box-shadow: 0 7px 6px -3px rgba(243, 3, 90, 0.3); }
  .btn.grey {
    background-color: #3D3D3D;
    -webkit-box-shadow: 0 7px 6px -3px rgba(61, 61, 61, 0.3);
            box-shadow: 0 7px 6px -3px rgba(61, 61, 61, 0.3); }
  .btn.black {
    background-color: #000;
    -webkit-box-shadow: 0 7px 6px -3px rgba(0, 0, 0, 0.3);
            box-shadow: 0 7px 6px -3px rgba(0, 0, 0, 0.3); }
  .btn.white {
    background-color: #fff;
    -webkit-box-shadow: 0 7px 6px -3px rgba(255, 255, 255, 0.3);
            box-shadow: 0 7px 6px -3px rgba(255, 255, 255, 0.3);
    color: #3D3D3D; }

#objectifs {
  position: fixed;
  left: 100%;
  top: 0;
  height: 100%;
  width: 500px;
  background: #3D3D3D;
  -webkit-box-shadow: 0 0 0 0 rgba(61, 61, 61, 0.4);
          box-shadow: 0 0 0 0 rgba(61, 61, 61, 0.4);
  color: #fff;
  z-index: 3;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out; }
  #objectifs.active {
    -webkit-transform: translateX(-500px);
        -ms-transform: translateX(-500px);
            transform: translateX(-500px);
    -webkit-box-shadow: -3px 0 15px 0 rgba(61, 61, 61, 0.4);
            box-shadow: -3px 0 15px 0 rgba(61, 61, 61, 0.4); }
  #objectifs .cross {
    position: absolute;
    right: 20px;
    top: 20px; }
  #objectifs .container {
    width: 100%;
    height: 100%; }
  #objectifs h3 {
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    height: 50px;
    line-height: 50px;
    letter-spacing: 6px;
    width: 100%;
    text-align: center; }
  #objectifs .objectifs-content {
    overflow-y: scroll;
    width: -webkit-calc(100% - 0px);
    width: calc(100% - 0px);
    height: -webkit-calc(100% - 50px);
    height: calc(100% - 50px); }
  #objectifs .catObjectif {
    margin: 25px 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    background-color: #fff;
    border-radius: 4px;
    overflow: hidden;
    font-family: "Open Sans", sans-serif;
    -webkit-transform: translateY(50px);
        -ms-transform: translateY(50px);
            transform: translateY(50px);
    opacity: 0;
    -webkit-box-shadow: 0 6px 20px 0 rgba(112, 112, 112, 0.6);
            box-shadow: 0 6px 20px 0 rgba(112, 112, 112, 0.6);
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out; }
    #objectifs .catObjectif.show {
      -webkit-transform: translateY(0);
          -ms-transform: translateY(0);
              transform: translateY(0);
      opacity: 1; }
    #objectifs .catObjectif h4 {
      padding: 10px;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      color: #fff;
      text-align: left;
      letter-spacing: 2px;
      text-transform: uppercase;
      font-size: 1em; }
      #objectifs .catObjectif h4 span.anim {
        width: 40px; }
    #objectifs .catObjectif ul.list {
      padding: 10px;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      color: #3D3D3D;
      list-style: none; }
      #objectifs .catObjectif ul.list > li {
        width: 100%;
        padding: 5px 0;
        position: relative; }
        #objectifs .catObjectif ul.list > li:not(:last-child) {
          border-bottom: 1px solid #F5F5F5; }
        #objectifs .catObjectif ul.list > li.active p {
          color: #8a8a8a; }
          #objectifs .catObjectif ul.list > li.active p::before {
            -webkit-transform: translateX(0%);
                -ms-transform: translateX(0%);
                    transform: translateX(0%); }
      #objectifs .catObjectif ul.list div.done {
        text-align: center; }
      #objectifs .catObjectif ul.list div {
        display: inline-block; }
      #objectifs .catObjectif ul.list p {
        position: relative;
        overflow: hidden;
        display: inline-block;
        font-size: 0.8em;
        -webkit-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out; }
        #objectifs .catObjectif ul.list p::before {
          content: "";
          display: block;
          position: absolute;
          height: 2px;
          width: 100%;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          margin: auto;
          -webkit-transform: translateX(-100%);
              -ms-transform: translateX(-100%);
                  transform: translateX(-100%);
          background-color: #7A08FA;
          -webkit-transition: all 0.3s ease-out;
          transition: all 0.3s ease-out; }

.cross {
  width: 25px;
  height: 25px;
  display: block;
  cursor: pointer;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out; }
  .cross::before, .cross::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    border-radius: 5px;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto; }
  .cross::before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg); }
  .cross::after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg); }
  .cross:hover {
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg); }

.checkbox {
  width: 20px;
  height: 20px;
  border: 1px solid rgba(122, 8, 250, 0.3);
  position: relative;
  cursor: pointer;
  overflow: hidden; }
  .checkbox span.overlay-checkbox {
    display: block;
    width: 70%;
    height: 70%;
    background-color: #7A08FA;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 1;
    cursor: pointer;
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out; }
  .checkbox input[type="checkbox"] {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 25px;
    height: 25px;
    z-index: 3;
    opacity: 0;
    cursor: pointer; }
    .checkbox input[type="checkbox"]:hover + span.overlay-checkbox {
      -webkit-transform: scale(0.3);
          -ms-transform: scale(0.3);
              transform: scale(0.3); }
    .checkbox input[type="checkbox"]:checked + span.overlay-checkbox {
      -webkit-transform: scale(1);
          -ms-transform: scale(1);
              transform: scale(1); }

* {
  padding: 0;
  margin: 0; }

.clear {
  clear: both; }

.bloc_left {
  float: left; }

.bloc_right {
  float: right; }

.bloc_size {
  max-width: 1366px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px; }

html, body {
  background-color: #F5F5F5;
  font-size: 100%;
  font-family: "Open Sans", sans-serif; }

.popin {
  display: none; }

.btn-purple {
  border-radius: 26px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 9px 20px;
  background-color: #7A08FA;
  color: #fff;
  cursor: pointer;
  font-size: 1.02em; }
  .btn-purple:hover {
    background-color: #ae6afb; }

header {
  -webkit-box-shadow: 0 0 6px 0 rgba(61, 61, 61, 0.2);
          box-shadow: 0 0 6px 0 rgba(61, 61, 61, 0.2);
  background: #fff; }
  header > div {
    padding: 0 10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
  header #logo img {
    max-height: 30px;
    height: auto; }

footer {
  -webkit-box-shadow: 0 0 8px 0 rgba(61, 61, 61, 0.1);
          box-shadow: 0 0 8px 0 rgba(61, 61, 61, 0.1);
  background: #fff;
  font-size: 13px;
  color: #cfcfcf;
  font-family: "Open Sans", sans-serif;
  padding: 5px 0; }
  footer a {
    color: darkgray;
    text-decoration: none; }

#form_connexion {
  width: 370px;
  margin: 70px auto 0 auto; }
  #form_connexion h1 {
    text-align: center;
    font-family: "codeBold", sans-serif;
    color: #3D3D3D;
    text-transform: uppercase; }
  @media screen and (max-width: 768px) {
    #form_connexion {
      width: 100%; } }
  #form_connexion form {
    margin-top: 50px; }
    #form_connexion form input {
      border: none;
      font-family: "Open Sans", sans-serif; }
    #form_connexion form input[type='text'], #form_connexion form input[type='password'] {
      width: 100%;
      padding: 10px;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      background-color: #fff;
      outline: none;
      border: 1px solid #e4e1e1;
      border-radius: 3px;
      -webkit-box-shadow: 0px 5px 16px 0px #d4d4d4;
      box-shadow: 0px 5px 16px 0px #d4d4d4;
      position: relative; }
      #form_connexion form input[type='text']:focus, #form_connexion form input[type='password']:focus {
        border: none;
        background-color: #fff; }
      #form_connexion form input[type='text']:-webkit-autofill, #form_connexion form input[type='password']:-webkit-autofill {
        color: #575757; }
    #form_connexion form p {
      margin-bottom: 30px; }
      #form_connexion form p#space {
        margin-top: 30px; }
      @media screen and (max-width: 768px) {
        #form_connexion form p {
          margin-top: 40px; } }
    #form_connexion form label {
      margin-bottom: 4px;
      display: block; }

/*# sourceMappingURL=../css/master.css.map */
