.block{
	position: relative;
	font-size: 100%;
	border-radius: 4px;
	background:$color3;
	display: block;
	&:hover{
		&::before{
			bottom: -10px;
			width: 85%;
			filter: blur(14px);
		}
	}
	&::before{
		content: "";
		display:block;
		width:80%;
		height: 10px;
		opacity: 0.3;
		background-color: $color1;
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		margin: auto;
		z-index: -1;
		filter: blur(10px);
		transition: all 0.3s ease-out;
	}
	h3, p{
		font-size: 2em;
	}
	h3{
		color: $color1;
		font-family: $code;
		font-size: 1.3em;
		letter-spacing: 2.09px;
		transition: all 0.6s ease-out 0.2s;
		span{
			font-weight: normal;
			letter-spacing: inherit;
			font-size: 0.8em;
			display: block;
			color: lighten($color1, 10%);
		}
	}
	p, span{
		font-family: $opensans;
	}
	.block-content{
		padding: 10px;
		box-sizing: border-box;
		@extend .flex;
		@extend .dirRow;
		@extend .aiC;
		@extend .jcT;
		@extend .wrap;
	}
	.percentage{
		width: 100%;
		height: 70px;
		position: absolute;
		bottom: 0;
		left: 0;
		opacity: 1;
		transition: all 0.4s ease-out;
		@media screen and (max-width: $mobile) {display:none;}
		p{
			font-weight: bold;
			color: rgba($color4,0.20);
			padding:0 10px;
			box-sizing: border-box;
		}
		.bar{
			display: block;
			height: 10px;
			background-color: rgba($color4,0.20);
			border-bottom-left-radius: 4px;
		}
	}
}


.block.square{
	@media screen and (max-width: $tablet) {font-size:70%;}
	@media screen and (max-width: $desktop) {font-size:90%;}
	&::after{
		content: "";
		display:block;
		padding-top: 100%;
	}
	.block-content{
		position: absolute;
		border-radius: 4px;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		cursor: pointer;
		@extend .dirCol;
		@extend .aiC;
		@extend .jcC;
	}
	.notif-content{
		overflow:hidden;
		margin: 0;
		box-sizing: border-box;
		width: 100%;
		position: absolute;
		max-height: inherit;
		opacity: 0;
		visibility: hidden;
		padding: 0 10px;
		transition: opacity 0.3s ease-out, visibility 0.1s ease 0.3s;
		@media screen and (min-width: $desktop) {
			position: relative;
			max-height: 0;
			opacity: 1;
			visibility: visible;
			padding: 0 30px;
			transition: all 0.7s ease-out ;
		}
		p{
			color: $color3;
			font-family: $opensans;
			font-size: 1.6em;
			line-height: inherit;
			font-weight: normal;
			box-sizing: border-box;
			text-align: justify;
			letter-spacing: 1.25px;
			font-weight: normal;
			@media screen and (min-width: $desktop) {
				font-size: 1.4em
			}
			@media screen and (min-width: $tablet) {
				font-size: 1.6em
			}
			&.status{
				font-weight: bold;
				margin-bottom: 10px;
				span{
					font-weight: normal;
					text-decoration: underline;
				}
			}
		}
	}
	&:hover,&.active{
		@media screen and (min-width: $tablet) {
			.anim{
				width: 80px;
				transition: all 0.4s ease-out;
			}
			h3{
				transform: scale(0.8);
				transition: all 0.4s ease-out;
			}
			.notif-content{
				opacity: 1;
				visibility: visible;
				max-height: 150px;
				margin: 15px 0 15px 0;
				transition: all 0.7s ease 0.2s;
			}
			.percentage{
				opacity: 0;
			}
		}
		@media screen and (max-width: $tablet) {
			.anim, h3{
				opacity: 0;
				visibility: hidden;
				transition: all 0.3s ease;
			}
			.notif-content{
				opacity: 1;
				visibility: visible;
				transition: opacity 0.4s ease 0.2s, visibility 0.1s ease 0.1s;
			}
			.percentage{
				opacity: 0;
			}
		}
	}
}


.block.graphic{
	.block-title{
		padding: 10px;
		box-sizing: border-box;
		border-top-left-radius: 4px;
		border-top-right-radius: 4px;
		border-bottom: 2px solid $color2;
		h3{
			font-size: 1.3em;
			span{
				color: lighten($color1, 10%);
			}
		}
	}
}

.block.line{
	font-size: 85%;
	.block-content{padding: 5px;}
	.anim{
		box-sizing: border-box;
		padding: 5px;
	}
	h3{
		padding-left:10px;
		box-sizing: border-box;
		border-left: 1px solid rgba(0,0,0,0.2);
		position: relative;
		z-index: 2;
		font-size: 1.5em;
	}
	.percentage{
		p{
			position: absolute;
			right: 0;
			top: 0;
			line-height: 65px;
			font-size: 2.4em;
		}
	}
}

.block.gradient, .catObjectif .gradient{
	&.blue{
		background: linear-gradient(to bottom right, #15B2FF 0%, #087BFF 100%);
		&::before{
			background-color: $color5;
			opacity: 0.8;
		}
	}
	&.yellow{
		background-image: linear-gradient(to bottom right, #FFF100 0%, #F7991C 100%);
		&::before{
			background-color: $color7;
			opacity: 0.8;
		}
	}
	&.red{
	    background-image: linear-gradient(to bottom right, #F3035A 0%, #ED0038 100%);
		&::before{
			background-color: $color6;
			opacity: 0.8;
		}
	}
	h3, p{
		font-family: $code;
		color: $color2;
		font-size: 2em;
		transition: all 0.6s ease-out 0.2s;
	}
}
