*{padding:0; margin:0;}
html,body{width:100%;}
.container{box-sizing: border-box; padding:10px; max-width: $desktopHD; width: 100%; margin:0 auto;}

.block-container{
	box-sizing: border-box;
	padding: 10px;
	z-index: 1;
	.block{
		position: relative;
		font-size: 100%;
		border-radius: 4px;
		background:$color2;
		&:hover{
			&::before{
				bottom: -20px;
				width: 85%;
			}
		}
		&::before{
			content: "";
			display:block;
			width:80%;
			height: 10px;
			opacity: 0.8;
			background-color: black;
			position: absolute;
			left: 0;
			right: 0;
			top: 100%;
			margin: auto;
			z-index: 0;
			filter: blur(15px);
			transition: all 0.3s ease-out;
		}
	}
}

.block.square{
	&::after{
		content: "";
		display:block;
		padding-top: 100%;
	}
	.block-content{
		position: absolute;
		border-radius: 4px;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		cursor: pointer;
		h3, p{
			color: $color2;
			font-family: "Code-Bold", sans-serif;
			font-size: 3em;
			letter-spacing: 2.09px;
		}
		.percentage{
			width: 100%;
			height: 70px;
			position: absolute;
			bottom: 0;
			left: 0;
		}
		p{
			font-weight: bold;
			color: rgba($color4,0.20);
			padding:0 10px;
			box-sizing: border-box;
		}
		.bar{
			display: block;
			height: 10px;
			background-color: rgba($color4,0.20);
		}
	}
	.notif-content{
		position: absolute;
		padding: 30px;
		opacity: 0;
		visibility: hidden;
		p{
			color: $color2;
			font-family: 'Open-sans', sans-serif;
			font-size: 1.4em;
			line-height: inherit;
			letter-spacing: inherit;
			font-weight: normal;
			box-sizing: border-box;
			&.status{
				font-weight: bold;
				span{
					font-weight: normal;
					text-decoration: underline;
				}
			}
		}
	}
	&:hover,&.active{
		.notif-content{

		}
	}
}

.w100{width:100%;}
.w66{width:66.666666%;}
.w50{width:50%;}
.w33{width:33.3333%;}
.w25{width:25%; font-size:70%;}
.w20{width:20%; font-size: 70%;}

.wd100{@media screen and (max-width: $desktop) {width:100%;}}
.wd66{@media screen and (max-width: $desktop) {width:66.666666%;}}
.wd50{@media screen and (max-width: $desktop) {width:50%;}}
.wd33{@media screen and (max-width: $desktop) {width:33.333333%;}}
.wd25{@media screen and (max-width: $desktop) {width:25%;}}
.wd20{@media screen and (max-width: $desktop) {width:20%;}}


.wt100{@media screen and (max-width: $tablet) {width:100%;}}
.wt66{@media screen and (max-width: $tablet) {width:66.666666%;}}
.wt50{@media screen and (max-width: $tablet) {width:50%;}}
.wt33{@media screen and (max-width: $tablet) {width:33.333333%;}}
.wt25{@media screen and (max-width: $tablet) {width:25%;}}
.wt20{@media screen and (max-width: $tablet) {width:20%;}}

.wm100{@media screen and (max-width: $mobile) {width:100%;}}
.wm66{@media screen and (max-width: $mobile) {width:66.666666%;}}
.wm50{@media screen and (max-width: $mobile) {width:50%;}}
.wm33{@media screen and (max-width: $mobile) {width:33.333333%;}}
.wm25{@media screen and (max-width: $mobile) {width:25%;}}
.wm20{@media screen and (max-width: $mobile) {width:20%;}}

.flex{
	display: flex;
	&.wrap{flex-wrap:wrap;}
	&.nowrap{flex-wrap:nowrap;}
	&.dirCol{flex-direction: column;}
	&.dirRow{flex-direction: row;}
	&.aiT{align-items: flex-start;}
	&.aiC{align-items: center;}
	&.aiB{align-items: flex-end;}
	&.jcT{justify-content: flex-start;}
	&.jcC{justify-content: center;}
	&.jcB{justify-content: flex-end;}
	&.jcSA{justify-content: space-around;}
	&.jcSB{justify-content: space-between;}
}



.gradient{
	&.blue{
		background: linear-gradient(to bottom right, #15B2FF 0%, #087BFF 100%);
		&::before{
			background-color: $color5;
		}
	}
	&:hover{

	}
}

.anim{
	display: block;
	margin: 0 0 10px 0;
	&.large{
		width: 150px;
		@media screen and (max-width: $desktop) {
			width: 100px;
		}
		@media screen and (max-width: $tablet) {
			width: 120px;
		}
		@media screen and (max-width: $mobile) {
			width: 200px;
		}
	}
	&.small{
		width: 80px;
	}
}
