*{padding:0; margin:0;}
.content{box-sizing: border-box; padding:10px;}

.block{
	box-sizing: border-box;
	border-radius: 4px;
	position: relative;
	padding: 10px;
	font-size: 100%;
	&::before{
		content: "";
		display:block;
		width:80%;
		height: 50%;
		opacity: 0.59;
		background-color: black;
		position: absolute;
		left: 0;
		right: 0;
		bottom: -10px;
		margin: auto;
		z-index: -1;
		filter: blur(20px);
	}
	&.square{
		&::after{
			content: "";
			display:block;
			padding-top: 100%;
		}
		.block-content{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			img{width: 150px; margin-bottom: 30px;}
			h3, p{
				color: white;
				font-family: "Code-Bold", sans-serif;
				font-size: 3em;
				letter-spacing: 2.09px;
			}
			.percentage{
				width: 100%;
				height: 70px;
				position: absolute;
				bottom: 0;
				left: 0;
				p{
					font-weight: bold;
					color: rgba($color4,0.20);
					line-height: 50px;
					padding:0 10px;
					box-sizing: border-box;
				}
				.bar{
					display: block;
					height: 20px;
					background-color: rgba($color4,0.20);
				}
			}
		}
	}
}

.w100{width:100%;}
.w66{width:66.666666%;}
.w50{width:50%;}
.w33{width:33.3333%;}
.w25{width:25%;}

.flex{
	display: flex;
	&.wrap{flex-wrap:wrap;}
	&.nowrap{flex-wrap:nowrap;}
	&.dirCol{flex-direction: column;}
	&.dirRow{flex-direction: row;}
	&.aiT{align-items: flex-start;}
	&.aiC{align-items: center;}
	&.aiB{align-items: flex-end;}
	&.jcT{justify-content: flex-start;}
	&.jcC{justify-content: center;}
	&.jcB{justify-content: flex-end;}
	&.jcSA{justify-content: space-around;}
	&.jcSB{justify-content: space-between;}
}



.gradient{
	&.blue{
		background-image: linear-gradient(to bottom right, #15B2FF 0%, #087BFF 100%);
		&::before{
			background-color: #087BFF;
		}
	}
}
