header{
   
    #logo{
         img{max-height:30px;height:auto;}
         float:left;
    }
    #settings{
        margin-top: 5px;
    }
   @include box-shadow( "0 0 10px #333" );
   background: $color3;
   padding:10px;
		 
}
