#form_connexion{
    h1{text-align: center;font-family: $code;color:$color1;text-transform: uppercase;}
    width:370px;
    margin: 70px auto 0 auto;
    @media screen and (max-width: $tablet) {
        width : 100%;
    }
    form{
        margin-top:50px;
        input{border:none;
              font-family: $opensans;
             
        } 
        input[type='text'],input[type='password']{
            width:100%;
            padding:10px;
            box-sizing:border-box;
            background-color: $color3;
            outline: none;
            border:1px solid #e4e1e1;
            @include border-radius(3px);
            @include box-shadow(0px 5px 16px 0px #d4d4d4);
            position:relative; 
            &:focus{
                border:none;
                background-color:$color3;
            }
            &:-webkit-autofill{

                color:lighten($color1,10%); 
            }

        }
        p{
            margin-bottom: 30px;
            &#space{ margin-top: 30px;}
            @media screen and (max-width: $tablet) {
                margin-top: 40px;
            }
        } 
        label{
            margin-bottom:4px;
            display:block;
        }


    }
}


