*{padding:0;margin:0;}
.clear{clear:both;}
.bloc_left{float:left;}
.bloc_right{float:right;}  
.bloc_size{max-width:$desktopHD;margin:0 auto;box-sizing: border-box; padding:10px;}
html,body{background-color: $color2;font-size:100%;font-family: $opensans;}
.popin{display:none;} 
.btn-purple{@include border-radius(10px);box-sizing: border-box; padding:7px 13px; background-color:$color8;color:$color3;cursor:pointer;
           &:hover{background-color:$color9;}
} 