$mobile : 450px;
$tablet : 768px;
$desktop : 1024px;
$desktopHD : 1366px;


$color1:#3D3D3D;
$color2:#F5F5F5;
$color3:#fff;
$color4: #000;
$color5:#087BFF;
$color6:#F3035A;
$color7:#FFF100;
$color8:#7A08FA;
$color9:#ae6afb;

@font-face {
    font-family: 'codeBold';
    src: url('../fonts/code_bold-webfont.woff2') format('woff2'),
         url('../fonts/code_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

$opensans : 'Open Sans', sans-serif;
$code : 'codeBold', sans-serif;
